@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap');
*{
  padding: 0;
  margin: 0;
	box-sizing: border-box;

}

html {
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
  background-color: #222;
}

body, html {
	overflow-X: hidden;
}

.container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Explain Section */
.explain {
  width: 100%;
  justify-content: center;
  background-color: #111;
	display: flex;
	flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.x-left {
    width: 100%;
    justify-content: center;
    background-color: #111;
  	display: flex;
  	flex-direction: column;
    justify-content: center;
    align-items: center;
}

.explain-image h2,
.x-image-left h2 {
    font-size: 2em;
    font-weight: 300;
	color: lightgrey;
    margin-bottom: 20px;
    margin-right: 20px;
}

.explain .explain-image,
.x-image-left {
  height: auto;
  width: 100%;
	margin-bottom: 3rem;
    margin-top: 40px;
}

.explain .explain-image img,
.x-image-left img {
    width: 80vw;
	border-radius: none;
}

.explain .explain-info {
  width: 80%;
  text-align: center;
}


.explain .explain-info .explain-info-heading,
.explain-left .explain-info-left .explain-info-heading-left {
  font-size: 5rem;
  font-weight: 300;
	color: lightgrey;
	transition: 1s ease all;
    text-align: left;
}

.explain:hover .explain-info .explain-info-heading,
.explain:hover-left .explain-info-left .explain-info-heading-left {
	text-shadow: 0 0 4px white;
	transition: 0.7s ease all;
}

.explain .explain-info .explain-info-text,
.x-text-left {
  font-size: 1.6rem;
  letter-spacing: .1rem;
  color: lightgrey;
}

.explain-info-heading-small {
        font-size: 2rem;
        letter-spacing: .1rem;
        color: lightgrey;
        margin-top: 50px;
    }

.explain-info-heading-h3 {
        font-size: 2rem;
        letter-spacing: .1rem;
        color: lightgrey;
        margin-bottom: 40px;
        font-weight: lighter;
    }
/* END Explain Section */

/* Media query for desktop and tab */
@media only screen and (min-width:768px) {

    .explain .explain-image,
    .x-left .x-image-left {
		width: 80%;
        margin-top: 60px;
        margin-left: 20px;
	}

	.explain .explain-image img {
		border-radius: 15px;
        width: 95%;
	}

    .x-left {
        flex-direction: row;
    }

    .x-image-left img {
        border-radius: 15px;
        margin-right: 20px;
        width: 95%;
    }

    .x-text-left {
        width: 90%;
        float: left;
    }



}
/* END Media query for desktop and tab */

/* Media Query for Desktop ONLY */
@media only screen and (min-width:1200px) {
    .explain {
		flex-direction: row;
	}

	.explain .explain-info {
		text-align: justify;
	}

  .x-left {
		text-align: justify;
  }

	.explain .explain-info ul,
  .explain-left .explain-info-left ul{
		text-align: left;
	}

    .explain .explain-info .explain-info-heading,
    .explain-left .explain-info-left .explain-info-heading-left {
        font-size: 6rem;
	}

	.explain .explain-image {
		margin-right: 2%;
	}

  .explain-left .explain-image-left {
    margin-left: 2%;
  }

	.explain .explain-image img,
  .explain-left .explain-image-left img {
		border-radius: 15px;
	}
}
/* END Media Query for Desktop ONLY */
